<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - DoeLivros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <div class="container">
        <div class="logo">
          <img src="{{ url_for('static', filename='images/logo-doelivros.png') }}" alt="Logo DoeLivros" style="width: 150px; margin-bottom: px;">
            </div>
        <h2>DoeLivros</h2>
        <h3>Cadastre-se</h3>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="POST">
            <div class="form-group">
                <label for="nome">E-mail:</label>
                <input type="text" id="nome" name="nome" placeholder=" DIGITE SEU MELHOR E-MAIL" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder=" INSIRA SUA SENHA" required>
            </div>
            <div class="form-group">
                <label for="senha2">Repita a Senha:</label>
                <input type="password" id="senha2" name="senha2" required>
            </div>
            <button type="submit">CADASTRAR-SE</button>
        </form>

        <div class="link">
            Já possui uma conta? <a href="{{ url_for('login_form') }}">Login</a>
        </div>
    </div>
</body>
</html>